* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* line-height: 1.5; */
}

:root {
    --padding-top: 16px;
    --menu-height: 50px;

    --section-height: 300px;
    --section-margin: 150px;
    --section-text-margin: 48px;

    --theme-color-1: rgb(248, 178, 83);
    --theme-color-2: rgb(62, 150, 198);
}

body {
    background-color: var(--background-color);
    padding: 0px;
    margin: 0px;
}

/* p {
    margin: 12px 0;
} */

b {
    font-size: 18px;
}

a {
    color: gray;
    text-decoration: none;
    border-bottom: none;
}
a:hover {
    color: black;
    /* border-bottom: rgb(201, 201, 201) 1.5px dotted; */
    
}



.big-title {
    font-size: 64px;
    font-weight: 800;
}
.sub-title {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
}
.sub-title-2 {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 3.2;
    line-height: 1.6;
}
.sub-title-3 {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2;
    line-height: 1.6;
}



.button {
    background-color: var(--theme-color-1); /* Green */
    color: white;
    padding: 16px 42px;
    letter-spacing: 2;
    text-align: center;
    /* display: inline-block; */
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}


.header-rectangle {
  position: absolute;
  z-index: -1;
  right: 0%;  
  /* height: 60vh;  */
  width: 52vw; 
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .header-rectangle {display: none;}
}

.t3d {
  transform: perspective(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) ;
  transition: all 4s ease;
}
.t3d:hover {
  transform: perspective(1000px) translateZ(60px) rotateX(0deg) rotateY(0deg);
}

.t3d-quick {
  transform: perspective(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) ;
  transition: all 1s ease;
}
.t3d-quick:hover {
  transform: perspective(1000px) translateZ(100px) rotateX(0deg) rotateY(0deg);
}


.graphic-design {
  background-color: turquoise;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 1s ease;
}
.graphic-design.effect {
  top: 100px;
  left: 100px;
}






.row::after {
    content: "";
    clear: both;
    display: table;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .col-20pcnt {width: 20%;}
}
/* ------------------------ Custom Scroll Bar ------------------------- */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(233, 233, 233); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 75, 75); 
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    font-size: small;
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 50%;
    margin-left: -50px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}






/* Video */
.video-play-button {
    position: absolute;
    z-index: 2;
    /* top: 50%; */
    /* left: 50%; */
    /* -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); */
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    /* border-radius: 50%; */
    padding: 18px 20px 18px 28px;
    cursor: pointer;
  }
  
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: var(--theme-color-2);
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
            animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: var(--theme-color-2);
    border-radius: 50%;
    -webkit-transition: all 200ms;
    transition: all 300ms ease;
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 2;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  .video-play-button:hover:after {
    background: var(--theme-color-1);
    width: 100px;
    height: 100px;
  }
  
  @-webkit-keyframes pulse-border {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
  
  @keyframes pulse-border {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }

  /* Overlay */
  .overlay {
      display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease-out;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
  }
  
  .overlay a {
    /* padding: 8px; */
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 24px;
    font-size: 60px;
  }









